html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

body > div {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

:root {
  --bg-color: rgba(0, 0, 0, 0.6);
  --font-color: white;
  --font-size: 18px;
}
