.shortcut {
  margin: 0;
  margin-bottom: 10px;
}

.shortcut:last-child {
  margin-bottom: 0;
}

.description {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 13px;
}

.count {
  font-size: 12px;
  margin-left: 8px;
  position: relative;
  top: 3px;
}
