.shortcut {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  display: flex;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 13px;
}

.shortcut:last-child {
  margin-bottom: 0;
}

.shortcut > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
